<div class="container">
  <div class="row">
    <div class="panel col-md-6 col-md-offset-3">
      <h1><%= params[:action].in?(['new', 'create']) ? "Ajouter un point" : "Modifier un point" %></h1>

      <%= render 'shared/flash' %>

      <%= form_for([:admin, @mission, @spot], :html => { :class => 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.label :name, 'Nom', :class => 'control-label col-md-3' %>

          <div class="col-md-9">
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, 'Description', :class => 'control-label col-md-3' %>

          <div class="col-md-9">
            <%= f.text_area :description, :class => 'form-control', :rows => 5 %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :picture, 'Photo', :class => 'control-label col-md-3' %>

          <div class="col-md-9">
            <%= f.file_field :picture, :class => 'form-control' %>

            <%= f.hidden_field :picture_cache %>

            <% if @spot.picture.present? %>
              <br />
              <img src="<%= @spot.picture.url(:sketch) %>" class="thumbnail" />
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :latitude, 'Latitude', :class => 'control-label col-md-3' %>

          <div class="col-md-9">
            <%= f.text_field :latitude, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :longitude, 'Longitude', :class => 'control-label col-md-3' %>

          <div class="col-md-9">
            <%= f.text_field :longitude, :class => 'form-control' %>
          </div>
        </div>

        <div class="actions">
          <%= link_to 'Annuler', admin_mission_spots_path(@mission), :class => 'btn btn-sm btn-default' %>
          <%= f.submit 'Enregistrer', :class => 'btn btn-sm btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
