<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><%= link_to 'Missions', admin_missions_path %></li>
    </ol>

    <%= link_to 'Ajouter une mission', new_admin_mission_path, :class => 'btn btn-xs btn-primary pull-right btn-new' %>

    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Accroche</th>
          <th>Photo</th>
          <th class="number">Points</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @missions.each do |mission| %>
          <tr>
            <td><%= link_to mission.name, admin_mission_spots_path(mission) %></td>
            <td><%= mission.tagline %></td>
            <td><img src="<%= mission.picture.url(:tiny) %>" /></td>
            <td class="number"><%= link_to mission.spots.count, admin_mission_spots_path(mission) %></td>

            <td class="actions">
              <%= link_to fa('edit'),   edit_admin_mission_path(mission), :class => 'btn btn-xs btn-default' %>
              <%= link_to fa('remove'), admin_mission_path(mission),      :class => 'btn btn-xs btn-danger', :data => { :confirm => "Supprimer cette mission ?" }, :method => :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
