<!DOCTYPE html>

<html lang="<%= session[:locale] ? session[:locale] : 'en' %>"
      id="<%= "#{params[:controller].gsub('/', '-')}-#{params[:action]}" %>"
      data-rails-env="<%= Rails.env %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if yield(:title).present? %>
      <% title = "#{yield(:title)} - Cliché" %>
    <% else %>
      <% title = "Cliché" %>
    <% end %>

    <title>
      <%= title %>
    </title>

    <%= stylesheet_link_tag("application", media: "all") %>

    <%= yield :special_header %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'admin/shared/header' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
